[Unit]
Description=Unit for backup systemfiles

[Service]
Type=oneshot
ExecStart=/usr/lib/fopgs/scripts/backup.sh

[Install]
WantedBy=multi-user.target
